@import "tailwindcss/theme" layer(theme);

@layer components {
  .tiptap :first-child {
    @apply mt-0;
  }

  .tiptap pre {
    @apply bg-black rounded-lg text-white my-6 px-4 py-3;
    font-family: 'JetBrainsMono', monospace;
  }

  .tiptap pre code {
    @apply bg-transparent text-sm p-0;
    color: inherit;
  }

  /* Code styling */
  .tiptap pre .hljs-comment,
  .tiptap pre .hljs-quote {
    color: #616161;
  }

  .tiptap pre .hljs-variable,
  .tiptap pre .hljs-template-variable,
  .tiptap pre .hljs-attribute,
  .tiptap pre .hljs-tag,
  .tiptap pre .hljs-regexp,
  .tiptap pre .hljs-link,
  .tiptap pre .hljs-name,
  .tiptap pre .hljs-selector-id,
  .tiptap pre .hljs-selector-class {
    color: #f98181;
  }

  .tiptap pre .hljs-number,
  .tiptap pre .hljs-meta,
  .tiptap pre .hljs-built_in,
  .tiptap pre .hljs-builtin-name,
  .tiptap pre .hljs-literal,
  .tiptap pre .hljs-type,
  .tiptap pre .hljs-params {
    color: #fbbc88;
  }

  .tiptap pre .hljs-string,
  .tiptap pre .hljs-symbol,
  .tiptap pre .hljs-bullet {
    color: #b9f18d;
  }

  .tiptap pre .hljs-title,
  .tiptap pre .hljs-section {
    color: #faf594;
  }

  .tiptap pre .hljs-keyword,
  .tiptap pre .hljs-selector-tag {
    color: #70cff8;
  }

  .tiptap pre .hljs-emphasis {
    @apply italic;
  }

  .tiptap pre .hljs-strong {
    @apply font-bold;
  }
}